.page {
  font-family: var(--main-font, monospace);
  font-size: var(--font-size, 18px);
  background-color: var(--bg-color, #ffeef6);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1.3;
}

.header, .footer {
  position: relative;
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.header {
  grid-template-rows: 1fr min-content 1fr;
}

.footer {
  justify-items: center;
  align-items: center;
}

.header__text {
  align-self: center;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  left: 10px;
  bottom: 10px;
  border-left: 1px solid var(--decorated-color);
  border-bottom: 1px solid var(--decorated-color);
}

.decorated-zone::after {
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
}

.rec-item {
  position: absolute;
  visibility: hidden;
  right: 38px;
  top: 11px;
}

.rec-item::before {
  content: "REC";
  color: var(--accent-color);
}

.rec-item::after {
  content: '';
  display: block;
  position: absolute;
  left: 42px;
  top: 7px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.main-heading {
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: .82;
}

.footer .main-heading {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.subheading {
  color: var(--subheading-color);
  margin-block-end: 20px;
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: inherit;
  line-height: inherit;
}

.text-bold {
  font-weight: bold;
}

.base-text {
  color: var(--text-color, #353430);
  line-height: 1.3;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: 1px solid var(--text-color);
}

.header__text {
  color: var(--article-title-color);
}

.header__theme-menu {
  margin-block-start: 65px;
  margin-block-end: 10px;
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--btn-color);
  text-transform: lowercase;
  padding: 3px 12px;
  line-height: 1;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--btn-hover-border-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-focus-border-color);
  outline: none;
}

.header__theme-menu-button_active {
  cursor: default;
  pointer-events: none;
  border-color: currentColor;
}

.content-wrapper {
  padding: 40px 10px 0;
}

.section-block {
  margin-block-end: 50px;
}

.section-block:last-child {
  margin-bottom: 40px;
}

.article-items {
  display: grid;
  gap: 20px;
}

.article__title {
  color: var(--article-title-color);
  margin-block-end: 10px;
}

.title-concentrate {
  margin-block-end: 20px;
  color: var(--article-title-color);
}

.gallery-items {
  display: grid;
  gap: 10px;
}

.gallery-image {
  display: block;
  line-height: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 768px) {
  .header, .footer {
    padding: 20px;
    min-block-size: 1024px;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::after {
    right: 20px;
    top: 20px;
  }

  .rec-item {
    right: 48px;
    top: 21px;
  }

  .header__theme-menu {
    margin-block-start: 171px;
  }

  .header .main-heading {
    margin-inline-start: -20px;
  }

  .main-heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
    max-width: 364px;
  }

  .content-wrapper {
    padding: 60px 20px 0;
  }

  .section-block {
    margin-block-end: 80px;
  }

  .section-block:last-child {
    margin-bottom: 60px;
  }

  .hard-concentrate-section,
  .how-concentrate-section {
    display: grid;
    column-gap: 20px;
    grid-template-columns: fit-content(var(--subheading-width)) 2fr;
  }

  .increase-concentrate-section .subheading {
    max-width: var(--subheading-width);
    
  }

  .gallery-items {
    margin-block-start: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape   books  ice-cream"
    "tape   street  street"
    "tape   street  street";
  }

  .gallery-items__item:nth-child(1) {
    grid-area: sunset;
  }

  .gallery-items__item:nth-child(2) {
    grid-area: ice-cream;
  }

  .gallery-items__item:nth-child(3) {
    grid-area: tape;
  }

  .gallery-items__item:nth-child(4) {
    grid-area: books;
  }

  .gallery-items__item:nth-child(5) {
    grid-area: street;
  }
}

@media (width >= 1024px) {
  .header, .footer {
    min-block-size: 768px;
  }

  .header__theme-menu {
    margin-block-start: 0;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__text {
    max-width: 491px;
  }

  .increase-concentrate-section .article-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}