.page {
  font-family: var(--main-font, monospace);
  font-size: var(--font-size, 18px);
  background-color: var(--bg-color, #ffeef6);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header, .footer {
  position: relative;
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer {
  justify-items: center;
  align-items: center;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  left: 10px;
  bottom: 10px;
  border-left: 1px solid var(--decorated-color);
  border-bottom: 1px solid var(--decorated-color);
}

.decorated-zone::after {
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
}

.main-heading {
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: .82;
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: inherit;
}

.text-bold {
  font-weight: bold;
}

.base-text {
  color: var(--text-color, #353430);
}

.content-wrapper {
  padding: 40px 10px;
}

.section-block {

}

.section-gallery {
  
}

.gallery-items {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .main-heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
}