:root {
  --bg-color: #ffeef6;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --heading-color: #ffc2e6;

  --main-font: 'IBM Plex mono';
  --font-size: 18px;
  --decorated-color: #353430;
}