:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --subheading-color: var(--accent-color);

  --decorated-color: var(--accent-color);
  --btn-color: var(--accent-color);
  --btn-hover-border-color: rgba(255, 0, 112, .4);
  --btn-focus-border-color: var(--accent-color);

  .rec-item {
    visibility: visible;
  }
}

@media (width >= 1024px) {
   :root {
     --subheading-width: 315px;
   }
}